@media all and (max-width: 1080px) {
  .heading h2 {
    font-size: 20px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .team {
    margin-bottom: 50px;
    width: 50%;
  }
}

@media all and (max-width: 768px) {
  span.menu-icon {
    display: block;
  }

  .btn {
    width: 100%;
  }

  .header-right {
    display: none;
  }

  .team {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
